@{
    ViewBag.Title = "Sobre os Serviços da Infortech";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    A infortech possui uma empatia em relação ao processo realizando extensas entrevistas com o usuário e entendendo
    os processos de negócios a fim de compreender, apoia-lo para alcançar os melhores resultados.<br />
    <br>

    Durante este passo nós tomamos as necessidades que compilamos no passo anterior e nos engajamos em alcançar resultados de excelência.
    Tendo equipes de arquitetura e design são capacitadas para utilização de metologias organizacionais de alto nível. Capacitando recém formados a fazerem parte da nossa equipe como trainee para nosso plano de carreira da empresa.
    <br />
    <br>
    Além de atividades de apoio à gestão de saúde compreendem a administração de hospitais, as centrais de regulação do Sistema Único de Saúde (SUS)
    e fundações de apoio à pesquisa (vinculadas a universidades). É válido ressaltar algumas das atividades destes centros de regulação,
    como o planejamento e o controle do acesso ao SUS, além das assistências pré-hospitalar, inter-hospitalar, urgências, internações e
    nos procedimentos ambulatoriais de complexidade. O alcance deste serviço acaba atingindo o público em geral indiretamente,
    seja por resultados das pesquisas ou pela própria regulação das atividades hospitalares.<br />
    <br>
    o tratamento de dados da infortech de tratamento de dados, provedores de serviços de aplicação e serviços de hospedagem na internet é um rumo definitivamente
    abrangente. Destina-se a às mais diversas aplicações, atendendo detentores de registros de domínios na Internet na execução e 
    manutenção de suas webpages (webhosting) e usuários de uma diversidade de serviços na internet, como o compartilhamento de vídeos e dados.
    Entretanto, não se limita aos serviços online, compreendendo também processamento de dados, serviços de escaneamento 
    (digitalização e leitura óptica de documentos) e gestão de banco de informações para terceiros
    (permitindo-se listagens, tabulações, consultas, cadastramento e emissão de relatórios e críticas solicitados pelo cliente).
</p>
