@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Infortech";
}

<h2>Nossas Soluções</h2>

<p>
    A Infortech possui equipe especializada para realização de tarefas altamente produtivas, para poder realizar os mais diversos tipos de
    projetos envolvendo sistemas especializados tendo mão de obra especializada em analises e aplicação de tecnologias voltadas para o crescimento exponencial de negócios possuindo knowhow no desenvolvimento de sistemas de plataformas web, mobile e espelização na conversão de plataformas altas para baixa
    .
    Com o dever de realizar projetos bem executados, uma empresa voltada a Tecnologia da Informação, Software House e Tecnologia Aplicada.
    <br>




</p>
